body {
    font-display: Lato, Roboto ,arial, sans-serif;
}
.menu {
   display: flex;
   padding: 5px; 
}
.menu-left {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    width: 50%;
    margin-left: 15px;
}
  
.menu-left a {
    padding: 8px;
}
.menu-right {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    width: 100%;
    margin-right: 15px;
}
.menu-right a {
    padding: 8px;
}
.icon-app {
    opacity: 0.7;
}
.icon-app:hover {
    opacity: 1;
}
.icon-noti {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #3b3b3b;
    padding: 5px;
    height: 12px; 
    width: 11px;  
}
.icon-noti:hover {
    background-color: #000; 
}
.profile-photo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; 
}
a {
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    text-transform: capitalize;
}
a:hover {
    text-decoration: underline;
}
.logo img {
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.search-bar {
    display: flex;
    margin: 20px auto;
    width: 550px;
    height: 32px;
    padding: 7px;
    border: 0.5px solid #d7d7d7;
    box-shadow: 0px 10px 6px -10px #989898;
    align-items: center;
}
.search-bar img {
    height: 24px;
    width: 24px; 
}
.search-btn {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    text-align: center;
}
.search-btn a:hover {
    text-decoration: none;
}
.btn-left {
    margin-right: 5px;
    text-transform: capitalize;
}
.btn-right {
    margin-left: 5px;
    text-transform: capitalize;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"] {
    width: 520px;
    height: 30px;
    border: none;
    font-size: 16px;
}

input[type="submit"] {
    height: 36px;
    background-color: #F2F2F2;
    color: #646464;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #F2F2F2;
}

input[type="submit"]:hover {
    color: #000;
    border: 1px solid #9e9e9e;
}

textarea:focus, input:focus {
    outline: none;
}

.foot {
    position: absolute;
    bottom: 45px;
    background-color: #F2F2F2;
    width: 100%;
    height: 45px;
    border-top: 1px solid #e2e2e2;
}
footer {
    position: absolute;
    bottom: 0;
    background-color: #F2F2F2;
    width: 100%;
    height: 45px;
    border-top: 1px solid #e2e2e2;
}